<div class="navbar">
    <ul class="navbar-links">
        <li><a href="http://127.0.0.1:8000">HOME</a></li>
        <li><a href="http://127.0.0.1:8000/symptoms">SYMPTOMS</a></li>
        <li><a href="http://127.0.0.1:8000/aboutus">ABOUT</a></li>
        <li><a href="http://127.0.0.1:8000/signin">SIGN IN/SIGNUP</a></li>
    </ul>
    <div class="search-container">
        <input type = "search" name = "Search" class = "search-keyword" placeholder="🔍 How can we help you today...?" />
    </div>
</div>
