{% load static %}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'styles.css' %}" />
    <title>Symptoms</title>
</head>
<body>
    <header>
        <div class="logo">
            <h2>HealthCare Plus</h2>
        </div>
        {% include "navbar.html" %}
    </header>
    <div class = "container">

        <h2>Symptoms</h2>
        <div class = "search-container">
            <input type = "search" name = "Search" class = "search-keyword" placeholder="🔍 How are you feeling?" />
        </div>
        <div class = "see-list">
            <p>See below some common illnesses and their symptoms</p>
        </div>

        <div class = "main">
            
        </div>
        <div id = "modal" class = "modal">
            <span class="close" title="Close Modal">&times;</span>
            <div class = "main-con">
                <div class = "left-con">
                    <h3>HIV / AIDS</h3>
                    <div class = "overview">
                        <h5>Overview</h5>
                        <p class = "description"></p>
                    </div>
                    <div class = "symptoms-con">
                        <h5>Symptoms</h5>
                        <p class = "symptoms-list"></p>
                    </div>
                </div>
                <div class = "right-con">
                    <div class = "treatment">
                        <h5>Precautions</h5>
                        <p class = "precaution1"></p>
                        <p class = "precaution2"></p>
                        <p class = "precaution3"></p>
                        <p class = "precaution4"></p>
                    </div>
                    <div class = "specialists">
                        <h5>Specialists</h5>
                        <div class = "specialist">
                            <p class = "name">Dr. Owens Wiwa</p>
    
                            <a href = "http://127.0.0.1:8000/chat/Dr.Owenswiwa" class = "message">message</a>
                        </div>
                        <div class = "specialist">
                            <p class = "name">Dr. Ola Orekunrin</p>
    
                            <a href = "http://127.0.0.1:8000/chat/Dr.OlaOrekunrin" class = "message">message</a>
                        </div>
                        <div class = "specialist">
                            <p class = "name">Dr. Olurotimi badero</p>
    
                            <a href = "http://127.0.0.1:8000/chat/Dr.Olurotimibadero" class = "message">message</a>
                        </div>
                        <div class = "specialist">
                            <p class = "name">Dr. Seyi Oyesola</p>
    
                            <a href = "http://127.0.0.1:8000/chat/Dr.SeyiOyesola" class = "message">message</a>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="{% static 'script.js' %}"></script>
</body>
</html> 