*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{
	background: #BA55D3;
	color: #fff;
}

header{
	padding: 20px 5%;
}

header .logo h2 a{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 1em;
}

section .container{
	padding: 0px 5%;
	margin-top: 50px;	
}

section .container .section-title{
	padding: 20px 0;
}
section .container .section-title h3{
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700;
}

section .container .section p{
	font-size: 1.3em;
	line-height: 1.5em;
	letter-spacing: 2px;
	font-weight: 300;
}

section .container .imgSection{
	float: right;
	
}